//- [injector:jademixins]
include /3_organisms/FoodList/_FoodList.jade
//- [endinjector]
doctype html
html
  head
    title=yaml.basics.meta.title
    meta(charset='UTF-8')
    meta(content=yaml.basics.meta.description, name='description')
    meta(content=yaml.basics.meta.keywords, name='keywords')
    meta(content='3 days', name='revisit-after')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name='viewport', content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
    block meta

    link(type="text/plain" rel="author" href="#{path}humans.txt")

    block head

    link(href='#{path}0_basics/main.css', rel='stylesheet')
    if level == 0
      // build:css(bower_components) 0_basics/vendor.css
    else if level == 1
      // build:css(bower_components) ../0_basics/vendor.css
    else
      // build:css(bower_components) ../../0_basics/vendor.css
    // bower:css
    // endbower
    // endbuild


  body(class=page)

    block content


    script(src='https://fb.me/react-0.14.3.min.js')
    script(src='https://fb.me/react-dom-0.14.3.min.js')
    script(src='https://cdn.firebase.com/js/client/2.3.2/firebase.js')
    script(src='https://cdn.firebase.com/libs/reactfire/0.5.1/reactfire.min.js')

    if level == 0
      // build:js({.,.tmp,bower_components}) 0_basics/controller.js
    else if level == 1
      // build:js({.,.tmp,bower_components}) ../0_basics/controller.js
    else
      // build:js({.,.tmp,bower_components}) ../../0_basics/controller.js



    // [injector:js]
    <script src="/2_molecules/Food/Food.js"></script>
    <script src="/2_molecules/FoodForm/FoodForm.js"></script>
    <script src="/3_organisms/FoodList/FoodList.js"></script>
    // [endinjector]

    script(src='/0_basics/controller.js')
    // endbuild

    script.


